.Weather-main {
  /* font-size: 68%;
  padding-top: 1rem;
  margin: 0rem; */
  text-align: center;
  max-width: 50rem;
  background-image: linear-gradient(180deg, #e3f4fe, #64d6fc);
  margin: 5rem auto 1rem auto;
  box-shadow: rgba(30, 30, 80, 2) 0px 5px 5px 0;
  padding-bottom: 1rem;
}
.Weather-main a:link {
  text-decoration: none;
}
.current-degree {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.second {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 !important;
}
.Weather-main h1 {
  color: #878787;
  font-size: 1.8rem;
}
.CD-main {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}
.CD-main img {
  width: 7rem;
  height: 7rem;
}
form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.city-input {
  padding: 0.5rem 1rem;
  border: 1px solid #e3f4fe;
}
.city-input:focus {
  padding: 0.5rem 1rem;
  border: 1px solid #e3f4fe;
}
.btn {
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-image: linear-gradient(#e3f4fe, #64d6fc);
  font-weight: 500;
  border: none;
}
.head {
  font-size: 2.3rem;
}
.unit {
  display: flex;
  /* flex-direction: column; */
  gap: 0.5rem;
  font-size: 0.9rem;
  position: absolute;
  bottom: 4.5rem;
  right: -2rem;
}
.Weather-degree {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 7rem;
}

.unit .C {
  border-right: 1px solid -webkit-link;
  padding-right: 0.5rem;
}
.date {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 !important;
}
.description-main {
  font-size: 1rem;
  font-weight: 500;
  display: block;
  /* justify-content: center;
  gap: 2rem; */
  list-style-type: none;
}
